<html>
  <head>
    <title>Diabetic Retinopathy</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap"
    />
    <link rel="stylesheet" href="index.css" />
    <body>
      <div class="upload">
        <div class="upload_box">
          <h2 class="upload_box_text">Upload Retina Scanned Image</h2>
          <span>Upload Files In .Jpeg Format</span>
          <div class="upload_img">
            <img
              src="./undraw_Upload_re_pasx.svg"
              alt="Upload_Doc"
              class="upload_image"
            />
          </div>
        </div>
      </div>
    </body>
  </head>
</html>
